<?php
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<?php /* @var $block \Anesh\Deployment\Block\System\Config\Execute\CustomoneReport */ ?>
<strong><p id="refresh-customone-report"></p></strong>
<span class="report"></span>
