<?php
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<?php /* @var $block \Anesh\Deployment\Block\System\Config\Execute\DeveloperReport */ ?>
<strong><p id="refresh-developer-report"></p></strong>
<span class="report"></span>
