<?php
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>

<script>
    require([
        'jquery',
        'prototype'
    ], function($){

        var deploymentSpan = $('#production_deployment_span');

        $('#productionexecute').click(function () {
            var params = {};
            new Ajax.Request('<?php echo $block->getAjaxUrl() ?>', {
                parameters:     params,
                loaderArea:     false,
                asynchronous:   true,
                onCreate: function() {
                    deploymentSpan.find('.deployed').hide();
                    deploymentSpan.find('.processing').show();
                    $('#production_deployment_message_span').text('');
                },
                onSuccess: function(response) {
                    deploymentSpan.find('.processing').hide();

                    var resultText = '';
                    if (response.status > 200) {
                        resultText = response.statusText;
                    } else {
                        resultText = 'Execution Complete';
                        deploymentSpan.find('.deployed').show();
                    }
                    $('#production_deployment_message_span').text(resultText);

                    var json = response.responseJSON;
                    if (typeof json.report != 'undefined') {
                        $('#refresh-production-report').text('CLEAR REPORT');
                        $('#row_deployment_production_report').find('.value .report').html(json.report);
                    }
                }
            });
        });

        $('#refresh-production-report').click(function () {
            $('#row_deployment_production_report').find('.value .report').html('');
            $('#refresh-production-report').text('');
        });

    });
</script>

<?php echo $block->getButtonHtml() ?>
<span class="deployment-indicator" id="production_deployment_span">
    <img class="processing" hidden="hidden" alt="Processing" style="margin:0 5px" src="<?php echo $block->getViewFileUrl('images/process_spinner.gif') ?>"/>
    <img class="deployed" hidden="hidden" alt="Deployed" style="margin:-3px 5px" src="<?php echo $block->getViewFileUrl('images/rule_component_apply.gif') ?>"/>
    <span id="production_deployment_message_span"></span>
</span>